<% provide(:title, @store.name) %>
<h1><%= @store.name %></h1>
<p>基本情報</p>
<ul>
 <li>店舗名:<%= @store.name %></li>
 <li>住所:<%= @store.address %></li>
 <li>電話番号:<%= @store.tell %></li>
 <li>HP:<%= @store.url %></li>
</ul>